@using Microsoft.AspNetCore.Identity
@using WebMobilePhone_Models.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<form id="myform" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
</form>
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Xin chào @User.Identity?.Name!</a>
        
        <a href="#" class="nav-link px-lg-3 py-3 py-lg-4" onclick="document.getElementById('myform').submit()">Logout</a>
    }
    else
    {
        <span>  &nbsp; &nbsp;</span>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
        <span>  &nbsp; &nbsp;</span>
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    }
</ul>
