@using Microsoft.AspNetCore.Identity
@using WebMobilePhone_Models.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <form hidden class="form-inline" id="myform" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    </form>
    <a href="#" onclick="document.getElementById('myform').submit()"><i class="fa fa-code"></i> <span>Đăng Xuất</span></a>

}
